.row-header {
    margin: 0px auto;
    padding: 0px auto;
}
.row-content {
    margin: 0px auto;
    padding: 50px 0px 50px 0px;
    border-bottom: 1px ridge;
    min-height: 200px;
}
.footer {
    background-color:black;
    margin: 0px auto;
    padding: 20px 0px 20px 0px;
}
.jumbotron {
    padding: 70px 30px 70px 30px;
    margin: 0px auto;
    background-color:purple;
    color:white;
}
.address {
    font-size: 80%;
    margin: 0px auto;
    color:blueviolet;
}
body
{
    padding: 50px 0px 0px 0px;
    z-index: 0; 
}
.image2
{
    position: relative;
    left:550px;
    bottom: 120px;
}

.button
{
    position:relative;
    left:180px;
}

.navbar-dark {
background-color:darkgreen;
}
.tab-content{
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    padding:10px;
}
.carousel{
    background-color: #512DA8;
}
.carousel-item{
    height: 300px;
}
.carousel-item img{
    position: absolute;
    top:0;
    left:0;
    min-height:300px;
}
.modalbutton{
    position: relative;
    right: 150px;
}
.modal-title{
   position: relative;
    right:570px;
    color: #512DA8;
    

}
.abc{
    color: #512DA8;
}
.cde{
    color:#512DA8;
}
.xyz{
    color: #512DA8;
    padding: 10px;
}
.qwe{
    color:#512DA8;
}
.jkl{
    left:200px;
}
